
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-700.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--color-Blackish_Green);
}


:root {
  --color-Blackish_Green:#131313;
  --color-White:  #FFFFFF;
  --color-Dim_Gray:#6F6F6F;
  --color-Red:#FF4040;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.text {
  padding: 0;
  margin: 0;
}

.text__medium {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  background: var(--color-White);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***** MENU *****/

.menu {
  margin-right: 80px;
}

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__link {
  padding: 43px 20px 40px 20px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-Blackish_Green);
  transition: all .3s;
}

.menu__link:hover {
  background-color: var(--color-Blackish_Green);
  color: var(--color-White);
}

.menu__link:focus-visible {
  background-color: var(--color-Blackish_Green);
  color: var(--color-White);
}

/***** BIKE ******/

.bike {
  padding: 97px 0 150px 0;
}

.bike__top {
  display: flex;
  justify-content: space-between;
}

.bike-column__slider {
  /* flex-basis: 630px; */
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  padding-top: 72px;
  font-size: 64px;
  line-height: 77px;

}

.bike__beginning {
  padding: 5px 0 60px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: var(--color-Dim_Gray);
}

.bike__basik {
  max-width: 420px;
  padding-bottom: 20px;
}

.bike__link {
  display: block;
  max-width: 420px;
  margin-top: 60px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: var(--color-White);
  padding: 28px 81px;
  background: var(--color-Blackish_Green);
  transition: all .3s;
}

.bike__link:hover {
  background: var(--color-Red);
}

.bike__link:focus-visible {
  background: var(--color-Red);
}

.bike__list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 60px;
}

.bike_item {
  display: flex;
  min-width: 22%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.bike-item__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
  padding: 5px;
  text-transform: lowercase;
}

.bike__slider .slick-dots {
  top: 52px;
  right: 0;
}

.slick-dots {
  position: absolute;
  list-style: none;
}

.slick-dots li {
  padding-bottom: 10px;
}

.slick-dots button {
  font-size: 0px;
  border: none;
  padding: 12.5px 1px 12.5px 1px;
  background: var(--color-Blackish_Green);
  cursor: pointer;
  transition: all .3s;
}

.slick-dots button:hover,
.slick-active button {
  background: var(--color-Red);
}

/***** ARTICLE ******/

.article {
  padding-bottom: 142px;
}

.article__top {
  display: flex;

}

.article-content__img {
  margin-right: 60px;
}

.article__list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


.article__item {
}

.article-item__header {
  padding-bottom: 10px;
}

.article-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  padding-right: 119px;

}

/***** FEATURES ******/

.features-text__headers {
  padding-bottom: 8px;
}

.features__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.features-content__text {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.features__list {
  padding-top: 33px;
}

.features-item__headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-White);
  background: var(--color-Blackish_Green);
  padding: 2px 0;
  margin-bottom: 5px;
}

.features-item__content {
  display: flex;
  width: 100%;
}
.feature-item__name {
  width: 50%;
  margin: 0;
  padding-top: 5px;
  padding-right: 20px;
}
.feature-item__description {
  width: 50%;
  margin: 0;
  padding-top: 5px;
}
.features-content__img {
  align-self: center;
}

.slider__top {
  margin-bottom: 50px;
}

.slider__top .slick-dots {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.slider__img {
  padding-left: 50px;
}

/***** ORDER ******/

.order__top {
  position: relative;
  margin-bottom: 100px;
}

.order__forms {
  max-width: 420px;
}

.order-text__headers {
  margin-bottom: 40px;
}

.order__text {
  max-width: 298px;
  margin-bottom: 29px;
}

.order__form {
}

.order-form__name, .order-form__tel {
  width: 100%;
  border: none ;
  border-bottom: 1px solid var(--color-Blackish_Green);
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.order-form__name::placeholder,
.order-form__tel::placeholder,
.order-form__select {
  color: var(--color-Dim_Gray);
  opacity: 0.5;
}

.order-form__select {
  padding-bottom: 10px;

}

.order-box__select {
  display: flex;
  margin-bottom: 50px;
}

.order__select:not(:last-child) {
  padding-right: 15px;
}

.order-select__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.order-select__baik {
  display: none;
  position: absolute;
  top:0;
  right: 0;
}

.order-select__radio:checked + .order-select__baik {
  display: block;
}


.order-select__img {

}
.order__price {
  position: absolute;
  display: flex;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  top: 32px;
  right: 0;
  left: -85px;
  width: 220px;
  height: 100px;
  border: 1px solid var(--color-Red);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-top: 14px;
}

.order__price::after {
  position: absolute;
  content: '';
  width: 220px;
  height: 100px;
  border: 1px solid var(--color-Red);
  border-radius: 50%;
  top: 10px;
  right: 0;
  left: 0;

}

.order-radio__style {
  cursor: pointer;
}

.order__btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: var(--color-White);
  padding: 28px 72.5px;
  background: var(--color-Blackish_Green);
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.order__btn:hover {
  background: var(--color-Red);
  border: none;
}

.order__btn:focus-visible {
  background: var(--color-Red);
  border: none;
}


/***** FOOTER *****/

.footer__content {
  background: var(--color-Blackish_Green);
}

.footer__container {
  background: inherit;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.footer__item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: var(--color-White);
}

.footer-social__link {
  text-decoration: none;
}

.footer-social_img {
  padding: 0 15px;
}

.footer-item__contacts {
  display: flex;
  flex-direction: column;
}

.contacts__data {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 0;
}

.contacts__data-img {
  padding-right: 10px;
}


/***** MEDIA *****/


@media (max-width: 1110px) {
  .bike {
    padding: 0;
  }

  .bike__top {
    display: flex;
    flex-wrap: wrap;
  }

  .bike__top div:nth-of-type(0) {
    order: -1:
  }

  .bike__title {
    padding-top: 20px;
    text-align: center;
  }

  .bike__beginning {
    text-align: center;
    padding-bottom: 12px;
  }

  .bike__basik {
    max-width: 100%
  }

  .bike__link {
    margin-top: 0;
    margin: 0 auto;
  }

  .bike__column {
    order: 2;
  }

  .bike-column__slider {
    max-width: 100%;
    order: 1;
    margin-left: 0;
  }

  .bike__list {
    justify-content:space-evenly;
    margin-left: 0;
  }
  .article-content__img {
    display: none;
  }

  .article {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .article__list {
    gap: 25px;
  }

  .article-item__text {
    padding-right: 0%;
  }

  .features-content__img {
    display: none;
  }

  .features-content__text {
    width: 100%;
  }

  .features__top {
    padding-bottom: 50px;
  }

  .order__top {
    width: 100%;
  }

  .order-select__baik {
    width: 50%;
    top: 37px;
    right: 0;
  }

  .order__price {
    top: 0;
    left: -127px;
  }

  .order-select__img {
    width: 100%;
    right: 0;
    left: 0;
  }
}

@media (max-width: 991px) {
  .menu {
    margin-right: 0;
  }

  .slider__img {
    padding-left: 25px;
  }

  .order-box__select {
    margin-bottom: 400px;
  }

  .order-select__baik {
    width: 100%;
    left: 0;
    right: 0;
    top: 340px;
  }

  .order__btn {
    padding: 28px 117px;
  }

  .order__price {
    top: -100px;
    left: 272px;
  }

  .order-select__img {
    width: 470px;
  }
}

@media (max-width: 640px) {
  .header__top {
    display: block;
    text-align: center;
  }

  .menu {
    margin-top: 30px;
  }

  .menu__link {
    padding: 10px;
  }

  .menu__list {
    gap: 0px;
    justify-content:space-evenly;
  }

  .bike__slider .slick-dots {
    top:0;
  }

  .bike_item {
    min-width: 0;
    width: 100%;
  }

  .order__text {
    max-width: 100%;
  }

  .order__btn {
    display: block;
    margin: 0 auto;
  }

  .order__forms {
    max-width: 100%;
  }

  .order-select__baik {
    text-align: center;
  }
}

@media (max-width: 529px) {
  .order__price {
    left: 0;
  }

  .order-select__img {
    width: 100%;
  }

  .order__btn {
    max-width: 420px;
    padding: 28px 81px;
  }

  .order__price {
    border: none;
    height: 36px;
    top: -47px;
  }

  .order__price::after {
    border: none;
    height: 30px;
  }

    .footer__list {
      flex-direction: column;
      gap: 10px;
    }
}

@media (max-width: 460px) {
  .menu__link {
    padding: 7px;
  }

  .bike__title {
    fo
    nt-size: 40px;
  }
  .bike__link {
    max-width: 100%;
    line-height: 0;
    letter-spacing: 0.5em;
    padding: 28px 0px;
    text-align: center;
  }

  .bike__list {
    flex-direction: column;
    gap: 20px;
  }

  .bike-item__text{
    padding: 2px;
    font-size: 17px;
  }

  .bike_item {
    font-size: 20px;
  }

  .features-item__content {
    flex-direction: column;
    text-align: center;
  }

  .feature-item__description {
    padding-bottom: 20px;
    width: 100%;
  }

  .feature-item__name {
    width: 100%;
    padding-right: 0;
  }

  .features-item__headers {
    text-align: center;
  }

  .features__list {
    padding-top: 0;
  }

  .slider__img {
    padding-left: 10px;
  }

  .features__top {
    padding-bottom: 10px;
  }

  .order-box__select {
    margin-bottom: 370px;
    justify-content: center;
  }

  .order__btn {
    display: flex;
    width: 100%;
    line-height: 0;
    letter-spacing: 0.5em;
    padding: 28px 0px;
   justify-content: center;
  }

  .order-select__img {
    width: 100%;
  }

  .order__price {
    font-size: 25px;
  }

  .order__top {
    margin-bottom: 20px;
  }
}

@media (max-width: 376px) {
  .order-box__select {
    margin-bottom: 300px;
  }
}

@media (max-width: 340px) {
  .menu__link {
    padding: 5px;
    font-size: 13px;
  }

  .bike__link {
    font-size: 17px;
  }

  .bike__title {
    font-size: 30px;
  }

  .bike__beginning {
    font-size: 18px;
    padding: 0 0 20px 0;
    line-height: 0;
  }

  .order__btn {
    font-size: 17px;
  }
}

